In [132]:
%load_ext autoreload
%autoreload 2

In [161]:
from SelectionFunctionGaiaArchive import GaiaArchiveQuery

query = GaiaArchiveQuery(magnitude_column='phot_g_mean_mag',
                         position_column='source_id',
                         superset_criteria =['phot_g_mean_mag<18'],
                         subset_criteria=['parallax_over_error>5'],
                         limit_results = 1000,
                         random_results = True)

In [162]:
query.query

'select magnitude, position, count(*) as n, sum(selection) as k\n                         from ( select top 1000 to_integer(floor(phot_g_mean_mag * 1)) as magnitude, gaia_healpix_index(0, source_id) as position, to_integer(IF_THEN_ELSE(parallax_over_error>5, 1.0, 0.0)) as selection from gaiaedr3.gaia_source \n                         where phot_g_mean_mag<18 order by random_index ) as subquery group by magnitude, position'

In [163]:
query.run_query()

Running query

INFO:astropy:Query finished.

INFO: Query finished. [astroquery.utils.tap.core]
Finished query, it took 1.3 seconds

In [164]:
query.results

<Table length=70>
magnitude position   n     k
  int32    int64   int64 int64
--------- -------- ----- -----
       12       11     1     1
       14        1     1     1
       15        1     5     5
       17        1     9     3
       13        0     2     2
       16        8     3     2
       12        3     1     1
       12        0     4     4
       13        3     5     4
       15        5    14    11
      ...      ...   ...   ...
       15        3    12    11
       17        3    74    33
       16        7    72    30
       15        0     5     4
       17        0    26     9
       16        2     2     2
       14        0     3     2
       11        7     1     1
       16        6     4     4
       13        1     2     2